<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Assassin´s Creed II</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Lautaro Silva</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">La historia de los asesinos</a></li>
			<li><a href="generic1">Assassin´s Creed I</a></li>			
			<li><a href="generic2">Assassin´s Creed II</a></li>
			<li><a href="generic3">Assassin´s Creed III</a></li>
			<li><a href="generic4">Assassin´s Creed IV BLANCK FLAG</a></li>	
			<li><a href="generic5">Assassin´s Creed ROGUE</a></li>
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Assassin´s Creed II</h2>
							<p>(Fecha de lanzamiento 2009)</p>
						</header>
						<div class="content">
							<p>Esta entrega está ambientada en el Renacimiento, al pensar matar al papa pensado como segunda parte de una trilogía. Parte con un nuevo personaje llamado Ezio Auditore Da Firenze, un joven de clase acomodada de la sociedad de la República de Florencia. Ezio se ve envuelto en una lucha ancestral que él ni siquiera sabía que existía, al ser testigo de la ejecución de su padre y de sus dos hermanos, a causa de una conspiración de los templarios. Es acusado de traición y se ve obligado a abandonar Florencia con ayuda de Paola (jefa de las cortesanas de Florencia)</p>
							<p> Logra escapar por poco y viaja a Monteriggioni, donde es atacado por su mayor enemigo de su infancia y adolescencia: Vieri de Pazzi, hijo de Francesco de Pazzi. En esta emboscada, él, su madre y su hermana sobreviven gracias a la ayuda de un desconocido, quien después de una pequeña conversación, confiesa ser el tío de Ezio, Mario Auditore (maestro de los asesinos de Italia y jefe del gremio de mercenarios de la Toscana).</p>
							<p>Este entrena a Ezio en el arte del asesinato mientras le cuenta la historia de los asesinos y de su padre quien era un banquero, pero a su vez un miembro de la hermandad, que mantuvo alianzas con la familia más importante de Florencia hasta el momento; los Médici. Tal alianza sería reforzada por Ezio meses después. </p>
							<p>Tras unos días de arduo enfrentamiento entre Ezio y su tío sobre el tema de quedarse en Italia para proseguir la lucha de su padre o irse a España huyendo de los templarios, Ezio decide quedarse y asentarse en la Villa Auditore en Monterrigioni.</p>
							<p>Es en ese momento cuando Ezio y su tío invaden San Gimignano, en donde Ezio mata a Vieri y se va enterando de la conspiración que cobró la vida de su padre y sus dos hermanos.</p>
							<p>Así Ezio pasa el resto del juego asesinando a todos los templarios que salen en una lista que arrebató al ya muerto Vieri de Pazzi pasando por Forli, Venecia, el resto de la Toscana y conociendo a mucha gente influyente que lo ayudarán a vengarse hasta el punto en el que derrote a Rodrigo Borgia (gran maestro de la orden de los templarios). Luego de vencer a Rodrigo, el asesino ingresa en una cámara, escondida en el Vaticano, para desvelar los secretos que la sociedad tenía que transmitir, pero no a Ezio, sino a Desmond.</p>
							
						</div>
						<footer>
							
						</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>