<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Assassin´s Creed I</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Lautaro Silva</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">La historia de los asesinos</a></li>
			<li><a href="generic1">Assassin´s Creed I</a></li>			
			<li><a href="generic2">Assassin´s Creed II</a></li>
			<li><a href="generic3">Assassin´s Creed III</a></li>
			<li><a href="generic4">Assassin´s Creed IV BLANCK FLAG</a></li>	
			<li><a href="generic5">Assassin´s Creed ROGUE</a></li>
			
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="post" class="wrapper bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Assassin's Creed I</h2>
							<p>(Fecha de lanzamiento 2007)</p>
						</header>
						<div class="content">
							<p>La historia gira en torno al conflicto entre dos "facciones" que lucharon entre sí durante cientos de años, pero la narración del juego comienza en las cruzadas del siglo XII.
Por un lado están los templarios, que en apariencia son una de las muchas órdenes que luchan junto a los cristianos en la Cruzada, pero su objetivo es conseguir el llamado Fruto del Edén, un artefacto antiguo con el cual pretenden apoderarse de las mentes de todas las personas y obtener una sociedad civilizada, que viva en paz, pero sin voluntades. Su maestro era Roberto de Sable, antes de que lo asesinaran.</p>
							<p>Oponiéndose a ellos están los Asesinos o Assassins, terroristas benévolos cuyo objetivo original era mantener la paz en el mundo, asesinando a los hombres con poder que la impedían. Durante el primer juego, su base principal estaba establecida en la fortaleza de Masyaf y su Gran Maestro era un sabio anciano llamado Al-Mualim. Este grupo trabajaba inicialmente haciendo asesinatos políticos calculados para mantener la paz en la región de forma discreta, o con un gran espectáculo público (cuando el mensaje debía ser masivo). Para ellos, mantener la paz implicaba hacer algunos "sacrificios", pero se regían bajo tres leyes estrictas:
Aparta tu hoja de la carne del inocente: Un Asesino tiene totalmente prohibido matar a gente inocente por simple diversión, solo puede matar a quien es culpable pero siempre como último recurso.
Camúflate entre la gente y confúndete con la multitud: Nunca debes enfrentarte al enemigo cara a cara, debes ser sigiloso y no ser visto por nadie.
Nunca comprometas a la Hermandad: Ninguno de tus actos deben tener consecuencias directas ni indirectas a la Hermandad.</p>
							<p>En esta entrega del juego, la trama se desarrolla en las ciudades de Damasco, Acre y Jerusalén donde el protagonista, Altaïr Ibn-La'Ahad el más audaz, rápido, sabio y poderoso asesino de todos los tiempos, deberá asesinar a nueve objetivos históricos para recuperar su rango en la orden y recuperar su honor, dichos objetivos se presentan como malvados Templarios y Hospitalarios: Tamir Bin Musa, Garnier de Naplouse, Talal, Abu'l Nuqoud, Guillermo de Montferrato, Majd Addin, Sibrand, Jubair Al Hakim y Robert de Sablé.</p>
							<p>Con el transcurso de los primeros juegos, se muestra cómo el objetivo de la Hermandad se refina pasando de "mantener la paz a cualquier coste", a "proteger el libre albedrío de los hombres, enseñar en vez de dominar, y con paciencia esperar una evolución en la sociedad" e indirectamente "Evita que los Templarios logren todos sus objetivos".</p>
							
						</div>
						<footer>
			        	</footer>
					</article>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>