<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>The Assassin´s Creed story</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Created De Content <span>by Lautaro Silva</span></a></div>
				<a href="#menu"><span>Menu</span></a>
			</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="home">Inicio</a></li>
			<li><a href="generic">La historia de los asesinos</a></li>
			<li><a href="generic1">Assassin´s Creed I</a></li>			
			<li><a href="generic2">Assassin´s Creed II</a></li>
			<li><a href="generic3">Assassin´s Creed III</a></li>
			<li><a href="generic4">Assassin´s Creed IV BLANCK FLAG</a></li>	
			<li><a href="generic5">Assassin´s Creed ROGUE</a></li>
			
		</ul>
	</nav>

		<!-- Banner -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
			<section id="banner" class="bg-img" data-bg="banner.jpg">
				<div class="inner">
					<header>
						<h1>The Assassin's Creed story</h1>
					</header>
				</div>
				<a href="#one" class="more">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>La historia de los Asesinos</h2>
							
						</header>
						<div class="content">
							<p>La saga Assassin´s Creed transcurre durante el año 2012 y cuenta con Desmond Miles como protagonista principal. Miles es el último descendiente de un extenso linaje perteneciente a la milenaria Hermandad de los hashshashin o asesinos.</p>
						</div>
						<footer>
							<a href="/generic" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
				<a href="#two" class="more">Leer Mas</a>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Assassin´s Creed I</h2>

						</header>
						<div class="content">
							<p>La historia gira en torno al conflicto entre dos "facciones" que lucharon entre sí durante cientos de años, pero la narración del juego comienza en las cruzadas del siglo XII.
Por un lado están los templarios, que en apariencia son una de las muchas órdenes que luchan junto a los cristianos en la Cruzada, pero su objetivo es conseguir el llamado Fruto del Edén, un artefacto antiguo con el cual pretenden apoderarse de las mentes de todas las personas y obtener una sociedad civilizada, que viva en paz, pero sin voluntades. Su maestro era Roberto de Sable, antes de que lo asesinaran.</p>
						</div>
						<footer>
							<a href="/generic1" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
				<a href="#three" class="more">Leer Mas</a>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Assassin´s Creed II</h2>
						
						</header>
						<div class="content">
							<p>Esta entrega está ambientada en el Renacimiento, al pensar matar al papa pensado como segunda parte de una trilogía. Parte con un nuevo personaje llamado Ezio Auditore Da Firenze, un joven de clase acomodada de la sociedad de la República de Florencia. Ezio se ve envuelto en una lucha ancestral que él ni siquiera sabía que existía, al ser testigo de la ejecución de su padre y de sus dos hermanos, a causa de una conspiración de los templarios. Es acusado de traición y se ve obligado a abandonar Florencia con ayuda de Paola (jefa de las cortesanas de Florencia)</p>
						</div>
						<footer>
							<a href="/generic2" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
				<a href="#four" class="more">Leer Mas</a>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Assassin´s Creed III</h2>
							
						</header>
						<div class="content">
							<p>La historia tiene lugar en la Guerra de Independencia estadounidense, alrededor del año 1750. La guerra entre Asesinos y Templarios ha sido envuelta en la Guerra de independencia estadounidense. Un joven mestizo llamado Ratonhnhaké:ton (Connor Kenway, hijo del templario Haytham Kenway, nieto del capitán pirata y asesino Edward Kenway)...</p>
						</div>
						<footer>
							<a href="/generic3" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Five -->
			<section id="four" class="wrapper post bg-img" data-bg="banner6.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Assassin´s Creed IV BLANCK FLAG</h2>
							
						</header>
						<div class="content">
							<p>Las muestras tomadas del cuerpo de Desmond Miles después de su muerte han permitido a Abstergo Industries seguir explorando sus memorias genéticas utilizando el Animus y las recién descubiertas habilidades de computación en nube. El personaje anónimo que controla el jugador es contratado por la división de entretenimiento de Abstergo..</p>
						</div>
						<footer>
							<a href="/generic4" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
			</section>

		<!-- Six -->
			<section id="four" class="wrapper post bg-img" data-bg="banner7.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Assassin´s Creed ROGUE </h2>
							
						</header>
						<div class="content">
							<p>su temática gira en torno a la Guerra de los Siete Años (1756-1763) en Norteamérica, incluyendo el Atlántico Norte, el valle del río Apalache y Nueva York...</p>
						</div>
						<footer>
							<a href="/generic5" class="button alt">Leer Mas</a>
						</footer>
					</article>
				</div>
			</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contactanos</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="nombre">Nombre</label>
							<input name="Nombre" id="Nombre" type="text" placeholder="Nombre">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Mensaje</label>
							<textarea name="mensaje" id="message" rows="6" placeholder="Mensaje"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Enviar Mensaje" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


	</body>
</html>