<!DOCTYPE HTML>
<!--
	Road Trip by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>La historia de los asesinos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

<!-- Header -->
	<header id="header" class="alt">
		<div class="logo"><a href="index.html">Created De Content <span>by Lautaro Silva</span></a></div>
		<a href="#menu"><span>Menu</span></a>
	</header>

<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="index.html">Home</a></li>
			<li><a href="generic.html">Generic</a></li>
			<li><a href="elements.html">Elements</a></li>
		</ul>
	</nav>

		<!-- Content -->
		<!--
			Note: To show a background image, set the "data-bg" attribute below
			to the full filename of your image. This is used in each section to set
			the background image.
		-->
		<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
			<div class="inner">
				<article class="box">
					<header>
						<h2>La historia de los asesinos</h2>
						
					</header>
					<div class="content">
						<p>La saga Assassin´s Creed transcurre durante el año 2012 y cuenta con Desmond Miles como protagonista principal. Miles es el último descendiente de un extenso linaje perteneciente a la milenaria Hermandad de los hashshashin o asesinos.</p>
						<p>Pero a pesar de haber sido educado como uno más de la hermandad, Miles decide abandonarla en pos de una vida tranquila y normal como encargado de la barra de un bar. No obstante, la mega corporación Abstergo Industries, que no es otra cosa que la encarnación moderna de la legendaria Orden de los Caballeros Templarios, conoce el secreto de Miles y decide secuestrarlo.</p>
						<p>El objetivo de Abstergo Industries es obligar a Miles a usar un dispositivo denominado Animus, el cual le permite tener acceso a sus recuerdos ancestrales a través de su ADN. Con ello, Abstergo pretende desenterrar la localización de unos poderosos artefactos denominados Fragmentos del Edén, los cuales les otorgarían un poder ilimitado con el que dominar el mundo y cambiar su destino. Pero en el último momento, Miles es rescatado por unos miembros de la encarnación moderna de la Hermandad de los Asesinos, y llevado a un lugar seguro. Desmond acepta colaborar con la Hermandad usando su propia versión del Animus, el Animus 2.0, con el fin de localizar los Fragmentos del Edén antes que Abstergo Industries.</p>
						<p>Es importante destacar que, como efecto secundario del uso del Animus, Miles adquiere habilidades de los sujetos cuyas experiencias revive, si bien también sufrirá de ciertos trastornos de personalidad y múltiples y confusos recuerdos en su memoria. En el primer Assassin's Creed, Miles accede a la memoria ancestral de uno de sus más ilustres antepasados: el Maestro Asesino de la Tercera Cruzada, el sirio Altaïr Ibn-La'Ahad, quien curiosamente resulta en un principio caído en desgracia y repudiado. Por su parte, en Assassin's Creed II Miles revive las experiencias de Ezio Auditore da Firenze, un Asesino italiano del Renacimiento.</p>
						<p>Ambos toman contacto con un Fragmento del Edén denominado como El Fruto, o Manzana del Edén. No obstante, durante las experiencias de Ezio, Miles descubre la existencia de más Fragmentos del Edén. Y es precisamente durante las aventuras protagonizadas por Miles/Ezio cuando tomamos contacto con una de las grandes revelaciones de la saga Assassin's Creed: el fin del mundo previsto para el año 2012. Precisamente el año en el que transcurre el prólogo del primer Assassin's Creed, y donde transcurre también la otra asentada vida de Desmond Miles/Ezio Auditore tiene conocimiento de estos datos por varias vías.</p>
						<p>Por un lado, esta profecía es mencionada por un usuario anterior del Animus al que se le conoce únicamente como Sujeto 16. Y por otro lado, esta profecía también es relatada por unas figuras holográficas pertenecientes a una especie que precedió en la Tierra a la raza humana. Estas figuras, que se hacen llamar a sí mismas como "La Primera Civilización" o "Los Precursores", responden a los nombres de Minerva, Juno y Júpiter, y son los creadores de los Fragmentos del Edén.</p>
						<p>Estos seres, y particularmente Minerva, le hablan directamente a Desmond a través de Ezio, quien se da cuenta de que no es más que un mero conducto para Desmond. Ezio también es consciente que las respuestas que él busca en su época serán reveladas a Desmond en 2012. Sea como fuere, Minerva, Juno y Júpiter desvelan que su especie fue la creadora original de la raza humana, y que los Fragmentos del Edén fueron creados en su gran mayoría para controlar y esclavizar a los humanos gracias a sus poderes de sugestión y control mental. No obstante los humanos acabaron rebelándose contra sus creadores, en un conflicto provocado en su origen por el robo de uno de los Fragmentos del Edén, El Fruto/Manzana del Edén, perpetrado por dos humanos que respondían el nombre de Adán y Eva y que no se veían afectados por los efectos de Los Fragmentos del Edén.</p>
					</div>
					<footer>
					</footer>
				</article>
			</div>
		</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h2>Contact Me</h2>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<ul class="icons">
						<li><a href="https://twitter.com/?lang=es" class="icon round fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com" class="icon round fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com" class="icon round fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>